.mynav {
  width: 50%;
  user-select: none !important;
  margin-left: auto;
}

.mynav ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  list-style: none;
}
.mynav ul li{
  padding: 5px 20px;
  user-select: none;
}
.mynav ul li a{
  text-decoration: dashed;
  color: black;
}
.mynav ul li:hover{
  background-color: coral;
  .myAnchor{
    color: #ffff;
  }
  align-items: center;
  border-radius: 15px;
}

button{
  margin-left: 10px;
  padding: 12px 40px;
  border: none;
  color: #f3f3f3f3;
  background-color: #11a2b8ff;
  border-radius: 5px;
}

button:hover{
  background-color: transparent;
  color: #11a2b8ff;
  border: 2px solid #11a2b8ff;
}